{
  "presets": [
    "stage-0", "react",
    [
      "es2015",
      {
          "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
  ],
  "env": {
    "development": {},
    "production": {}
  }
}
